body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#loading{
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 11;
  margin-top: 0px;
  top: 0px;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
  }
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -ms-transform: rotate(-135deg); 
     -webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);
}
.object{
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-top: 5px solid rgba(208, 28, 21, 1);
  border-bottom: 5px solid transparent;
  border-left:  5px solid rgba(208, 28, 21, 1);
  border-right: 5px solid transparent;
  -webkit-animation: animate 2s infinite;
  animation: animate 2s infinite;	

  }
#object_one{
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
  }
              
#object_two{
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
    
#object_three{
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
#object_four{
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  
  }	

@-webkit-keyframes animate {
 

50% {

  -ms-transform: rotate(360deg) scale(0.8); 
     -webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }
}

@keyframes animate {
  
50% {

  -ms-transform: rotate(360deg) scale(0.8); 
     -webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	
}

#close-loading{
  position: absolute;
  left: 60%;
  top: 30%;
  color: rgba(208, 28, 21, 1);
  font-size: 30px;
  cursor: pointer;
  z-index: 10000;
}

#close-text{
  position: absolute;
  left: 50%;
  margin-left: -150px;
  bottom: 50%;
  margin-bottom: -150px;
  color: rgba(208, 28, 21, 1);
  font-size: 20px;
  cursor: pointer;
  z-index: 10000;
}

.search{
  outline: none;
}

.search:focus{
  outline: none
}

.contract:hover{
  background:  rgba(0,0,0, 0.1);
}

.fetch-btn{
  background: rgb(31, 167, 53);
  padding: 7px;
  margin-bottom: 5px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.fetch-input{
  padding: 7px;
  margin-bottom: 5px;
  cursor: pointer;
  width: 100px;
  margin-right: 10px;
}